<!DOCTYPE html>
<html>

<head>
<title>Husly</title>
<link rel="stylesheet" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="../style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="header jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">Husly</h1>
        <p class="font-italic mb-0">Helping with outreach for people in need</p>
    </div>
</div>

<div class="container mt-3">

    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="search">
            <form action="/search" method="get">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" name="location" placeholder="Enter location (e.g. Seattle)">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
      </div>
    </div>
</div>
</html>