<!DOCTYPE html>
<html>

<head>
    <title>Husly</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="text/javascript" src="../scripts/autocomplete.js"></script>
</head>

<body>
    <div class="header jumbotron bg-cover text-white">
        <div class="container py-5 text-center">
            <h1 class="display-4 font-weight-bold">Husly</h1>
            <p class="font-italic mb-0">Helping with outreach for people in need</p>
        </div>
    </div>

    <div class="m-5">
        <h2>Resources near <%=location%></h2>
    </div>
    
</body>
</html>